body {
    font-family: Arial;
    text-align: center;
    background: #0f172a;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.panel {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
}
